main {
    width: 1440px;
}

html {
    height: 100%;
}

body {
    background-image: url("../resources/bkFood.png");
    background-position: center;
    background-size: cover;
    margin: 0;
    min-height: 100%;
    position: relative;
}

.headerMobile {
    background-color: #B64141;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    overflow: hidden;
    background-color: #B64141;
    padding: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Zilla Slab";
    font-weight: bold;
}

.header .link:hover {
    color: black;
    background-color: #F5F5F5;
}

.header a.active {
    color: white;
    -webkit-text-stroke: 2px #F4B795;
    padding: 0;
}

.header a.active p {
    font-family: "Zen Dots";
    font-size: 25px;
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn:hover {
    color: black;
    background-color: #F5F5F5;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Zilla Slab";
    font-weight: bold;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B64141;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: black;
    background-color: #F5F5F5;
}

.show {
    display: block;
    position: fixed;
}


.header_small a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Zilla Slab";
    font-weight: bold;
}

.header_small .link:hover {
    color: black;
    background-color: #F5F5F5;
}

.header_small a.active {
    color: white;
    -webkit-text-stroke: 2px #F4B795;
    padding: 0;
}

.header_small a.active p {
    font-family: "Zen Dots";
    font-size: 25px;
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.header_small {
    overflow: hidden;
    background-color: #B64141;
    padding: 0;
}

.trimite {
    background-color: #B64141;
    border: none;
    color: white;
    width: fit-content;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Zilla Slab";
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 5%;
}

.inputComanda {
    background: white;
    border-radius: 10px;
    height: 50px;
    font-size: x-large;
    width: 70%;
    font-family: "Zilla Slab";
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    border: 1px solid gray;
    padding: 0;
}

#box {
    padding-top: 2%;
    padding-bottom: 5%;
    background-blend-mode: soft-light;
    align-content: center;
    text-align: center;
    width: 45%;
    margin: 10% 35% 20% 35%;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    font-family: "Zilla Slab";
    font-weight: bold;
}

#details {
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 49px;
    left: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    position: fixed;
}

#details a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    font-weight: bold;
    font-family: "Zilla Slab";
}

#details .user-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

#details .user-div p {
    margin: 5px 0 0 20px;
    color: #818181;
    font-weight: bold;
    font-family: "Zilla Slab";
}

#details .user-div a:hover {
    color: #B64141;
}

#details .options a:hover {
    background-color: #B64141;
    color: white;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    font-family: "Zilla Slab";
}

.overlay a:hover, .overlay a:focus {
    background-color: #B64141;
    color: white;
}

.reviewDiv {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 1%;
}

#review {
    margin-left: 15%;
    color: #B64141;
    font-family: "Imbue";
}

.reviewBox {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    padding: 1%;
    background-color: #B64141;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5%;
    text-align: center;
    width: 60%;
}

.divDiv {
    display: flex;
    justify-content: center;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.menu-small {
    background-color: #B64141;
    display: flex;
    justify-content: space-around;
    margin: 10px 20px 0 20px;
}

.menu-small #profile {
    cursor: pointer;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: "Zilla Slab";
    font-weight: bold;
}

#addProduct button {
    width: fit-content;
    display: inline-block;
    background-color: #B64141;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Zilla Slab";
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

#totalCost {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    width: fit-content;
    padding: 1%;
    background-color: #F5F5F5;
    border-radius: 10px;
    font-weight: bold;
}

#pret {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    width: fit-content;
    padding: 1%;
    background-color: #F5F5F5;
    border-radius: 10px;
    font-weight: bold;
    margin: 0;
}

#addProduct p {
    font-size: 15px;
    font-weight: bold;
}

.title-back {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
}

#back {
    width: fit-content;
    height: fit-content;
    background-color: #B64141;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 2%;
    margin: 3%;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Zilla Slab";
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

#box #sendCommand {
    display: inline-block;
    background-color: #B64141;
    width: fit-content;
    border: none;
    color: white;
    padding: 4px 8px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Zilla Slab";
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

#noCommands {
    font-family: "Text Me One";
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}

#box img {
    opacity: initial;
    width: 70%;
    height: 240px;
    border-radius: 10px;
    background-blend-mode: soft-light;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

#buton {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

#delete_back {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#delete {
    display: inline-block;
    background-color: #B64141;
    width: fit-content;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Zilla Slab";
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

.infoComanda input::placeholder {
    font-family: "Zilla Slab";
    color: black;
    opacity: 35%;
}

.titlu {
    font-family: "Text Me One";
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
}

.checkbox {
    width: 15px;
    height: 15px;
}

#defaultTitle {
    margin-left: 350px;
    margin-bottom: 0;
    margin-top: 50px;
    font-family: "Zilla Slab";
    font-weight: bold;
    font-size: 64px;
    color: black;
    text-align: left;
    text-shadow: 1px 1px 3px #B64141;
    filter: drop-shadow(0px 7px 1px #ADADAD);
    position: fixed;
    top: 0;
    transition: top 0.3ms;
}

.boxCommand {
    font-family: "Zilla Slab";
    color: black;
    font-weight: bold;
    font-size: 10px;
    margin: 2%;
    padding: 4% 3% 0 3%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    padding-bottom: 20px;
}

#commandsList {
    display: none;
    width: 45%;
    margin: 10% 25% 20% 37%;
    background-color: #F5F5F5;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    padding-bottom: 3%;
}

.command {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    padding: 1%;
    background-color: #F5F5F5;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 5%;
}

.commandDetails {
    display: flex;
    flex-direction: column;
    justify-content: left;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    padding: 1%;
    background-color: #F5F5F5;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 3%;
}

.infoComanda {
    display: flex;
    justify-content: space-between;
}

.commandDetails p {
    margin: 1% 5%;
}


.selectStatus {
    margin-top: 19px;
    width: 100%;
    display: block;
    align-self: center;
    border: 1px solid gray;
    border-radius: 8px;
    height: 35px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
    font-family: "Zilla Slab";
    float: right;
}

#title {
    font-family: "Text Me One";
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    margin: 3% 22% 3% 3%;
}

.btn {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    background-color: #B64141;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 30px;
    font-family: "Zilla Slab";
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    padding: 2%;
}

#butonSend {
    display: flex;
    justify-content: center;
}

.feedbackBox {
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-top: 3%;
    padding: 10px 50px;
}

.feedbackBoxSend {
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    padding: 10px 50px;
    background-color: #ddd;
    color: gray;
}

.inputFeedback {
    width: 93%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: none;
}

.inputFeedback input:focus {
    background-color: #ddd;
    outline: none;
}

.footer {
    display: flex;
    flex-direction: column;
    font-family: "Imbue";
    margin: 2%;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer p {
    margin: 0;
}

@media screen and (max-width: 800px) {
    div.header {
        display: none;
    }

    div.header_small {
        display: flex;
        flex-direction: row;
    }

    #details {
        display: none;
    }

    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    #box {
        margin: 10% 2% 15% 2%;
        width: auto;
    }

    #box img {
        width: 300px;
    }

    .menu-small {
        float: right;
    }

    #commandsList {
        width: 80%;
        margin: 20% 5% 20% 10%;
    }

}

@media screen and (min-width: 801px) {
    div.header {
        display: block;
    }

    div.header_small {
        display: none;
    }

}
