main {
    width: 1440px;
}

html {
    height: 100%;
}

body {
    background-image: url("../resources/bkInchirieri.png");
    background-position: center;
    background-size: cover;
    margin: 0;
    min-height: 100%;
    position: relative;
}

.headerMobile {
    background-color: #B64141;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
    overflow: hidden;
    background-color: #B64141;
    padding: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Zilla Slab";
    font-weight: bold;
}

.header .link:hover {
    color: black;
    background-color: #F5F5F5;
}

.header a.active {
    color: white;
    -webkit-text-stroke: 2px #F4B795;
    padding: 0;
}

.header a.active p {
    font-family: "Zen Dots";
    font-size: 25px;
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn:hover {
    color: black;
    background-color: #F5F5F5;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Zilla Slab";
    font-weight: bold;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B64141;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: black;
    background-color: #F5F5F5;
}

.show {
    display: block;
    position: fixed;
}


.header_small a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Zilla Slab";
    font-weight: bold;
}

.header_small .link:hover {
    color: black;
    background-color: #F5F5F5;
}

.header_small a.active {
    color: white;
    -webkit-text-stroke: 2px #F4B795;
    padding: 0;
}

.header_small a.active p {
    font-family: "Zen Dots";
    font-size: 25px;
    margin: 0;
    padding: 10px 10px 0px 10px;
}

.header_small {
    overflow: hidden;
    background-color: #B64141;
    padding: 0;
}

#details {
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 49px;
    left: 0;
    background-color: #F5F5F5;
    overflow-x: hidden;
    position: fixed;
}

#details a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    font-weight: bold;
    font-family: "Zilla Slab";
}

#details .user-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

#details .user-div p {
    margin: 5px 0 0 20px;
    color: #818181;
    font-weight: bold;
    font-family: "Zilla Slab";
}

#details .user-div a:hover {
    color: #B64141;
}

#details .options a:hover {
    background-color: #B64141;
    color: white;
}

.menu-small {
    background-color: #B64141;
    display: flex;
    justify-content: space-around;
    margin: 10px 20px 0 20px;
}

#main-div {
    background-color: #F5F5F5;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 5% 25% 0 40%;
}
#rentADS {
    display: none;
    flex-direction:column;
    margin-top: 5%;
    margin-left: 20%;
}

.rentAdRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.rentBox h1, .price, .rentBox button {
    font-weight: bold;
}

.adPost {
    font-family: "Zilla Slab";
    font-weight: bold;
    color: #B64141;
}

.rentBox {
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: auto;
    min-height: auto;
    text-align: center;
    font-family: "Zilla Slab";
    font-weight: normal;
    padding: 1%;
}

.submitbtn {
    background-color: #B64141;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Zilla Slab";
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
    padding: 2% 10% 2% 10%;
}

.price {
    color: grey;
    font-size: inherit;
}

.rentBox button {
    font-family: "Zilla Slab";
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #B64141;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

.rentBox button:hover {
    opacity: 0.7;
}

#main-div #rent-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}

#rent-form .labelForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
    font-family: "Zilla Slab";
    font-weight: bold;
    font-size: 15px;
}

#rent-form input, #rent-form select {
    border-radius: 8px;
    border: 3px solid #f1f1f1;
    width: 50%;
    padding: 3%;
}

select {
    font-family: "Zilla Slab";
    font-weight: bold;
    border-radius: 8px;
    border: 3px solid #f1f1f1;
    padding: 6%;
}


#buton, #butonAd, #butonAdPost {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

#adDiv {
    display: none;
    background-color: #F5F5F5;
    justify-content: center;
    //width: 35%;
    height: 100%;
    margin: 10% 25% 2% 42%;
    padding-bottom: 3%;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

#titleAd {
    font-family: "Text Me One";
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    margin-top: 10%;
}

#adDiv #ad-form {
    display: flex;
    flex-direction: column;
    width: auto;
}

#ad-form input {
    border-radius: 8px;
    border: 3px solid #f1f1f1;
    padding: 6%;
    display: flex;
    justify-content: center;
    height: auto;
    width: fit-content;
    margin-left: 20%;
}

#typeWanted
{
    border-radius: 8px;
    border: 3px solid #f1f1f1;
    padding: 6%;
    display: flex;
    justify-content: center;
    height: auto;

}
#type {
    padding-right: 48%;
    padding-left: 48%;
}

#type option, #first {
    font-family: "Zilla Slab";
    color: black;
    opacity: 35%;
    font-size: 15px;
}
#type option, #first1 {
    font-family: "Zilla Slab";
    color: black;
    opacity: 35%;
    font-size: 15px;
}
.labelInput {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 5%;
}

#ad-form::placeholder {
    font-family: "Zilla Slab";
    color: black;
    opacity: 35%;
    font-size: 20px;
}

.labelAd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 0;
    font-family: "Zilla Slab";
    font-weight: bold;
    font-size: 13px;
}

#main-div #title {
    text-align: center;
    font-family: "Zilla Slab";
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 35px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    font-family: "Zilla Slab";
}

.overlay a:hover, .overlay a:focus {
    background-color: #B64141;
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.menu-small {
    background-color: #B64141;
    display: flex;
    justify-content: center;
}

.menu-small #profile {
    cursor: pointer;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: "Zilla Slab";
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    font-family: "Imbue";
    margin: 0 2% 0 2%;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer p{
    margin: 0;
}

@media screen and (max-width: 800px) {
    div.header {
        display: none;
    }

    div.header_small {
        display: flex;
        flex-direction: row;
    }

    #details {
        display: none;
    }

    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    #main-div, #adDiv {
        width: auto;
        margin: 30% 0 0 0;
    }

    #adDiv {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
    }

    #ad-form input, #ad-form select {
        width: 75%;
    }

    #ad-form select {
        width: 100%;
    }

    #type {
        padding: 0;
    }

    #main-div #rent-form {
        width: 60%;
    }

    #rent-form input::placeholder {
        font-size: 30px;
    }

    .rentBox {
        margin-top: 5%;
    }

    .rentAdRow {
        flex-direction: column;
        margin-bottom: 0;
    }

    #rentADS {
        margin: 4%;
    }

    .footer {
        margin-top: 10%;
    }

}

@media screen and (min-width: 801px) {
    div.header {
        display: block;
    }

    div.header_small {
        display: none;
    }

    .menu-small {
        display: none;
    }
}